<div class="first-time-install-overlay">
    <div class="first-time-install-modal">
        <h2>Guzztool says Hello</h2>
        <p>But it doesn't do anything yet. The plan:</p>
        <ol>
            <li>Turn on the subtools you want to use.</li>
            <li>Click on a subtool to change its settings.</li>
            <li>Go play some Pokémon.</li>
        </ol>
        <button>OK</button>
    </div>
</div>