body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#app {
    --min-cell-size: 200px;
    --subpage-animation-duration: 1s;
    --hover-animation-duration: 0.3s;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-cell-size), 1fr));
    width: 100%;
}

.cell {
    box-sizing: border-box;
    padding: 5%;
    margin: 0;
    border: 1px solid black;
    background-color: var(--subtool-color);
    transition: all var(--subpage-animation-duration);

    &:not(.subpage) {
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        box-shadow: 0 0 10px inset;
        justify-content: center;
        user-select: none;
    }

    &.subpage {
        overflow: auto;
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
    }

    .subtool-icon {
        height: 50%;
    }

    .subtool-name {
        color: var(--text-color);
        font-weight: bold;
        font-size: 2vw;
        text-align: center;
        white-space: nowrap;
    }

    &:has(input[type="checkbox"]:checked) {
        cursor: pointer;
    }

    /* START: The hover darkening effect */

    .hover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
        opacity: 0; // The hover overlay starts hidden

        &.hover-animation-active {
            // The transition for the hover overlay is only active when the .hover-animation-active class is present,
            // which lets us instantly set the initial opacity in the cloned subpage cell without it animating
            // (jQuery then handles fading it out over the duration of the subpage animation)
            transition: opacity var(--hover-animation-duration);
        }

        .settings-icon {
            position: absolute;
            top: 2%;
            right: 2%;
            width: 8%;
            aspect-ratio: 1/1;
            user-select: none;
            transition: transform var(--hover-animation-duration) ease, opacity var(--hover-animation-duration) ease;
            transform-origin: center;
            filter: brightness(0);
            opacity: 0.2;
        }
    }

    &:hover .hover-overlay.hover-animation-active {
        // When you hover over a cell with an active hover animation, the overlay becomes visible, darkening the background.
        // This does not happen for the subpage, since we remove the .hover-animation-active class before the subpage animation starts.
        opacity: 1;

        .settings-icon {
            transform: scale(1.1) rotate(90deg);
            opacity: 0.3;
        }
    }

    /* END: The hover darkening effect */
}