<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guzztool Options</title>
  <link rel="stylesheet" id="toggle_switch_css" href="/static/lib/toggle_switch.css">
  <link rel="stylesheet" href="/options/options.css">
  <script src="/static/lib/jquery.min.js"></script>
</head>

<body>
  <div id="app">
    {{> grid}}
  </div>

  <script src="/options/options.js"></script>
</body>

</html>