/* @import url("@guzztool/static/lib/toggle_switch.css"); */
@import url("chrome-extension://nllmibhhkjbfndlgncbelecopnejljio/static/lib/toggle_switch.css");

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    aspect-ratio: 1/1;
    display: flex;
    position: relative;
    align-items: center;
    padding: 5%;
    margin: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #ddd;
    box-shadow: 0 0 10px inset;
}

.cell * {
    z-index: 2;
}

.cell::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
    transition: opacity 0.3s;
    z-index: 1;
    opacity: 0;
}

.cell:hover::after {
    opacity: 1;
}

.cell[data-active="true"] {
    background-color: #4CAF50;
}

.cell img {
    width: 50%;
    height: 50%;
}

.switch {
    width: 40px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.cell[data-active="true"] .switch {
    background-color: #fff;
}