<div class="toggle-switch{{#if class}} {{class}}{{/if}}" style="{{#if size}}--size: {{size}};{{/if}} {{#if style}}{{style}}{{/if}}">
  <label>
    <input type="checkbox" {{#if input_name}} name="{{input_name}}" {{/if}}>
    <span class="toggle-switch-track">
      <span class="toggle-switch-text"></span>
    </span>
    <span class="toggle-switch-thumbnail"></span>
  </label>
</div>