<div class="toggle-switch">
  <label>
    <input type="checkbox">
    <span class="toggle-switch-track">
      <span class="toggle-switch-text"></span>
    </span>
    <span class="toggle-switch-thumbnail"></span>
  </label>
</div>